In [9]:
# Chunk de importação
import pandas as pd
import numpy as np
import os
current_directory = os.getcwd()

In [20]:
# Analise do OSD 40 - Thermal Conditions
relative_path = r'C:\Users\ferna\Documents\GitHub\anderworm\Project\datasets\temperature_osd40' 
folder_path = os.path.join(current_directory, relative_path)

data_frames = []

# Loop through all files in the folder
for filename in os.listdir(folder_path):
    # Check if the file has a .txt extension
    if filename.endswith('.txt'):
        # Create the absolute file path for each text file
        file_path = os.path.join(folder_path, filename)
        
        # Read the text file into a temporary DataFrame
        temp_df = pd.read_csv(file_path, delimiter='\t')  # Use the appropriate delimiter if needed
        
        # Append the temporary DataFrame to the list of DataFrames
        data_frames.append(temp_df)

# Concatenate all DataFrames into a single DataFrame
combined_data = pd.concat(data_frames, ignore_index=True)
combined_data

        Reporter Identifier  VALUE      RAW FLAGS  UNF_VALUE
0                       556    NaN    4.819     A      1.416
1                      1475    NaN  106,626     A      1.003
2                       117    NaN    7.071     A      1.941
3                      1414    NaN    4.999     A      1.130
4                      1465    NaN    11.75     A      0.787
...                     ...    ...      ...   ...        ...
245491                  215    NaN    4.478     A      0.595
245492                 3391    NaN    7.169     A      0.975
245493                 1302    NaN    4.363     A      0.580
245494                 4675    NaN    4.801     A      0.672
245495                 1771    NaN    4.412     A      0.491

[245496 rows x 5 columns]