In [10]:
import pandas as pd
import numpy as np
import gzip
import os

<h1 style = "color: red"> Raw Data </h1>

In [11]:
# Specify the folder containing the GZ files
folder_path = r'C:\Users\ferna\Documents\GitHub\anderworm\Project\ds_shenzou\raw'

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.gz'):
        file_path = os.path.join(folder_path, filename)
        
        # Open and read the GZ file
        with gzip.open(file_path, 'rt') as gz_file:
            # Read the content of the GZ file into a DataFrame skipping the first row
            data = pd.read_csv(gz_file, delimiter='\t', low_memory=False, dtype=str, skiprows=[0])  # Skip the first row
            
            # Add a 'file_name' column with the current file's name
            data['file_name'] = filename
            
            # Append the DataFrame to the list
            dfs.append(data)

# Concatenate all DataFrames in the list
df_raw_data = pd.concat(dfs, ignore_index=True)

# Now, combined_data contains the data from all GZ files with a 'file_name' column
df_raw_data.head()

,IMAGE_ID,GENE_EXPR_OPTION,SEQ_ID,PROBE_ID,POSITION,X,Y,MATCH_INDEX,SEQ_URL,PM,MM,file_name
0,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000001,125,11,331,15546233,NaN,772.56,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz
1,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000003,608,456,66,15546234,NaN,598.33,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz
2,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000005,1105,326,606,15546235,NaN,1032.44,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz
3,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000007,1248,254,234,15546236,NaN,3305.44,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz
4,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000010,1428,421,461,15546237,NaN,1529.22,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz

<h1 style = 'color: green'> Normalized Data <h1>

In [12]:
# Specify the folder containing the GZ files
folder_path = r'C:\Users\ferna\Documents\GitHub\anderworm\Project\ds_shenzou\normalized'

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.gz'):
        file_path = os.path.join(folder_path, filename)
        
        # Open and read the GZ file
        with gzip.open(file_path, 'rt') as gz_file:
            # Read the content of the GZ file into a DataFrame skipping the first row
            data = pd.read_csv(gz_file, delimiter='\t', low_memory=False, dtype=str, skiprows=[0])  # Skip the first row
            
            # Add a 'file_name' column with the current file's name
            data['file_name'] = filename
            
            # Append the DataFrame to the list
            dfs.append(data)

# Concatenate all DataFrames in the list
df_norm_data = pd.concat(dfs, ignore_index=True)

# Now, df_norm_data contains the data from all GZ files with a 'file_name' column
df_norm_data.head()

,IMAGE_ID,GENE_EXPR_OPTION,SEQ_ID,PROBE_ID,POSITION,X,Y,MATCH_INDEX,SEQ_URL,PM,...,1303.6891,0.9604,4B_532,519.84,1515.9090,0.9664,4C_532,1258.6908,0.8678,318.47
0,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000001,125,11,331,15546233,NaN,772.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000003,608,456,66,15546234,NaN,598.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000005,1105,326,606,15546235,NaN,1032.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000007,1248,254,234,15546236,NaN,3305.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000010,1428,421,461,15546237,NaN,1529.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h1> Metadata </h1>

In [13]:
# Transcription Profiling DNA Microarray
df_transcription = pd.read_csv(r"C:\Users\ferna\Documents\GitHub\anderworm\Project\ds_shenzou\metadata\a_gse90786_transcription_profiling_DNA_microarray.txt", delimiter='\t')
df_transcription.head(2)

,Sample Name,Protocol REF,Parameter Value[QA Instrument],Parameter Value[QA Assay],Extract Name,Protocol REF.1,Labeled Extract Name,Label,Term Source REF,Term Accession Number,Protocol REF.2,Hybridization Assay Name,Array Design REF,Protocol REF.3,Array Data File,Protocol REF.4,Parameter Value[RMA Calls File],Term Source REF.1,Term Accession Number.1,Derived Array Data File
0,GSM2412681,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412681 Extract,labeling,GSM2412681 Labeled Extract,Cy3 dye,CHEBI,http://purl.obolibrary.org/obo/CHEBI_37987,nucleic acid hybridization,GSM2412681 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412681_1A_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412681_1A_532_norm_RMA...
1,GSM2412682,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412682 Extract,labeling,GSM2412682 Labeled Extract,Cy3 dye,CHEBI,http://purl.obolibrary.org/obo/CHEBI_37987,nucleic acid hybridization,GSM2412682 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412682_1B_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412682_1B_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412682_1B_532_norm_RMA...

In [14]:
# Investigation
df_investigation = pd.read_csv(r"ds_shenzou\metadata\i_Investigation.txt", delimiter='\t')
df_investigation.head(2)

                                                                                                                                                                                                                                                                                                                                                                                     ONTOLOGY SOURCE REFERENCE
Term Source Name EFO                                         MESH                                        EFO                                        OBI                                        NCBITAXON                                        NCIT                                         UO                                        CHEBI                                                               NaN
Term Source File https://data.bioontology.org/ontologies/EFO http://data.bioontology.org/ontologies/MESH http://data.bioontology.org/ontologies/EFO http://data.bioontology.org/ontologies/OBI http://data.bioontology.org/ontologies/NCBITAXON https://data.bioontology.org/ontologies/NCIT http://data.bioontology.org/ontologies/UO http://data.bioontology.org/ontologies/CHEBI                        NaN

In [15]:
#s_GS
df_investigation = pd.read_csv(r"C:\Users\ferna\Documents\GitHub\anderworm\Project\ds_shenzou\metadata\s_GSE90786.txt", delimiter='\t')
df_investigation.head(2)

,Source Name,Sample Name,Characteristics[Organism],Term Source REF,Term Accession Number,Characteristics[Strain],Term Source REF.1,Term Accession Number.1,Characteristics[Material Type],Term Source REF.2,...,Unit,Term Source REF.6,Term Accession Number.6,Parameter Value[Absorbed Radiation Dose],Unit.1,Term Source REF.7,Term Accession Number.7,Parameter Value[Sample Preservation Method],Term Source REF.8,Term Accession Number.8
0,N2 Spaceflight Static con,GSM2412681,Caenorhabditis elegans,NCBITAXON,http://purl.bioontology.org/ontology/NCBITAXON...,N2,NaN,NaN,Whole Organism,NCIT,...,degree Celsius,UO,http://purl.obolibrary.org/obo/UO_0000027,1.92,milligray,UO,http://purl.obolibrary.org/obo/UO_0000142,Liquid Nitrogen,NCIT,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus...
1,LS292 Spaceflight Static con,GSM2412682,Caenorhabditis elegans,NCBITAXON,http://purl.bioontology.org/ontology/NCBITAXON...,LS292,NaN,NaN,Whole Organism,NCIT,...,degree Celsius,UO,http://purl.obolibrary.org/obo/UO_0000027,1.92,milligray,UO,http://purl.obolibrary.org/obo/UO_0000142,Liquid Nitrogen,NCIT,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus...

<h1> Exploratory Analysis </h1>

In [13]:
df_norm_data.head()

,IMAGE_ID,GENE_EXPR_OPTION,SEQ_ID,PROBE_ID,POSITION,X,Y,MATCH_INDEX,SEQ_URL,PM,...,1303.6891,0.9604,4B_532,519.84,1515.9090,0.9664,4C_532,1258.6908,0.8678,318.47
0,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000001,125,11,331,15546233,NaN,772.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000003,608,456,66,15546234,NaN,598.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000005,1105,326,606,15546235,NaN,1032.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000007,1248,254,234,15546236,NaN,3305.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000010,1428,421,461,15546237,NaN,1529.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN