In [6]:
import pandas as pd
import numpy as np
import gzip
import os

<h1 style = "color: red"> Raw Data </h1>

In [11]:
# Specify the folder containing the GZ files
folder_path = r'C:\Users\ferna\Documents\GitHub\anderworm\Project\ds_shenzou\raw'

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.gz'):
        file_path = os.path.join(folder_path, filename)
        
        # Open and read the GZ file
        with gzip.open(file_path, 'rt') as gz_file:
            # Read the content of the GZ file into a DataFrame skipping the first row
            data = pd.read_csv(gz_file, delimiter='\t', low_memory=False, dtype=str, skiprows=[0])  # Skip the first row
            
            # Add a 'file_name' column with the current file's name
            data['file_name'] = filename
            
            # Append the DataFrame to the list
            dfs.append(data)

# Concatenate all DataFrames in the list
df_raw_data = pd.concat(dfs, ignore_index=True)

# Now, combined_data contains the data from all GZ files with a 'file_name' column
df_raw_data.head()

,IMAGE_ID,GENE_EXPR_OPTION,SEQ_ID,PROBE_ID,POSITION,X,Y,MATCH_INDEX,SEQ_URL,PM,MM,file_name
0,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000001,125,11,331,15546233,NaN,772.56,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz
1,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000003,608,456,66,15546234,NaN,598.33,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz
2,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000005,1105,326,606,15546235,NaN,1032.44,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz
3,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000007,1248,254,234,15546236,NaN,3305.44,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz
4,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000010,1428,421,461,15546237,NaN,1529.22,0.00,GLDS-167_microarray_GSM2412681_1A_532.pair.gz

<h1 style = 'color: green'> Normalized Data <h1>

In [7]:
# Specify the folder containing the GZ files
folder_path = r'C:\Users\ferna\Documents\GitHub\anderworm\Project\ds_shenzou\normalized'

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.gz'):
        file_path = os.path.join(folder_path, filename)
        
        # Open and read the GZ file
        with gzip.open(file_path, 'rt') as gz_file:
            # Read the content of the GZ file into a DataFrame skipping the first row
            data = pd.read_csv(gz_file, delimiter='\t', low_memory=False, dtype=str, skiprows=[0])  # Skip the first row
            
            # Add a 'file_name' column with the current file's name
            data['file_name'] = filename
            
            # Append the DataFrame to the list
            dfs.append(data)

# Concatenate all DataFrames in the list
df_norm_data = pd.concat(dfs, ignore_index=True)

In [8]:
df_norm_data.head()

,IMAGE_ID,GENE_EXPR_OPTION,SEQ_ID,PROBE_ID,POSITION,X,Y,MATCH_INDEX,SEQ_URL,PM,...,1303.6891,0.9604,4B_532,519.84,1515.9090,0.9664,4C_532,1258.6908,0.8678,318.47
0,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000001,125,11,331,15546233,NaN,772.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000003,608,456,66,15546234,NaN,598.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000005,1105,326,606,15546235,NaN,1032.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000007,1248,254,234,15546236,NaN,3305.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1A_532,BLOCK1,WBGene00000001_aap_1_Y110A7A_10,uniq_c_elegans_190P00000010,1428,421,461,15546237,NaN,1529.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h1> Metadata </h1>

In [9]:
# Transcription Profiling DNA Microarray
df_transcription = pd.read_csv(r"C:\Users\ferna\Documents\GitHub\anderworm\Project\ds_shenzou\metadata\a_gse90786_transcription_profiling_DNA_microarray.txt", delimiter='\t')
df_transcription.head(2)

df_transcription['source'] = df_transcription['Derived Array Data File'].str.split('_norm').str[0]

row_index = 0  # Replace 0 with the row index you want to print.
column_name = 'source'

# Use iloc to select the row by index and the column by name
value = df_transcription.iloc[row_index][column_name]
print(value)
df_transcription.head()

GLDS-167_microarray_GSM2412681_1A_532

,Sample Name,Protocol REF,Parameter Value[QA Instrument],Parameter Value[QA Assay],Extract Name,Protocol REF.1,Labeled Extract Name,Label,Term Source REF,Term Accession Number,...,Hybridization Assay Name,Array Design REF,Protocol REF.3,Array Data File,Protocol REF.4,Parameter Value[RMA Calls File],Term Source REF.1,Term Accession Number.1,Derived Array Data File,source
0,GSM2412681,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412681 Extract,labeling,GSM2412681 Labeled Extract,Cy3 dye,CHEBI,http://purl.obolibrary.org/obo/CHEBI_37987,...,GSM2412681 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412681_1A_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412681_1A_532_norm_RMA...,GLDS-167_microarray_GSM2412681_1A_532
1,GSM2412682,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412682 Extract,labeling,GSM2412682 Labeled Extract,Cy3 dye,CHEBI,http://purl.obolibrary.org/obo/CHEBI_37987,...,GSM2412682 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412682_1B_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412682_1B_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412682_1B_532_norm_RMA...,GLDS-167_microarray_GSM2412682_1B_532
2,GSM2412683,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412683 Extract,labeling,GSM2412683 Labeled Extract,Cy3 dye,CHEBI,http://purl.obolibrary.org/obo/CHEBI_37987,...,GSM2412683 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412683_1C_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412683_1C_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412683_1C_532_norm_RMA...,GLDS-167_microarray_GSM2412683_1C_532
3,GSM2412684,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412684 Extract,labeling,GSM2412684 Labeled Extract,Cy3 dye,CHEBI,http://purl.obolibrary.org/obo/CHEBI_37987,...,GSM2412684 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412684_2A_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412684_2A_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412684_2A_532_norm_RMA...,GLDS-167_microarray_GSM2412684_2A_532
4,GSM2412685,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412685 Extract,labeling,GSM2412685 Labeled Extract,Cy3 dye,CHEBI,http://purl.obolibrary.org/obo/CHEBI_37987,...,GSM2412685 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412685_2B_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412685_2B_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412685_2B_532_norm_RMA...,GLDS-167_microarray_GSM2412685_2B_532

In [10]:
# Investigation
df_investigation = pd.read_csv(r"ds_shenzou\metadata\i_Investigation.txt", delimiter='\t')
df_investigation.head(2)

                                                                                                                                                                                                                                                                                                                                                                                     ONTOLOGY SOURCE REFERENCE
Term Source Name EFO                                         MESH                                        EFO                                        OBI                                        NCBITAXON                                        NCIT                                         UO                                        CHEBI                                                               NaN
Term Source File https://data.bioontology.org/ontologies/EFO http://data.bioontology.org/ontologies/MESH http://data.bioontology.org/ontologies/EFO http://data.bioontology.org/ontologies/OBI http://data.bioontology.org/ontologies/NCBITAXON https://data.bioontology.org/ontologies/NCIT http://data.bioontology.org/ontologies/UO http://data.bioontology.org/ontologies/CHEBI                        NaN

In [11]:
#s_GS
df_investigation = pd.read_csv(r"C:\Users\ferna\Documents\GitHub\anderworm\Project\ds_shenzou\metadata\s_GSE90786.txt", delimiter='\t')
df_investigation.head(2)

,Source Name,Sample Name,Characteristics[Organism],Term Source REF,Term Accession Number,Characteristics[Strain],Term Source REF.1,Term Accession Number.1,Characteristics[Material Type],Term Source REF.2,...,Unit,Term Source REF.6,Term Accession Number.6,Parameter Value[Absorbed Radiation Dose],Unit.1,Term Source REF.7,Term Accession Number.7,Parameter Value[Sample Preservation Method],Term Source REF.8,Term Accession Number.8
0,N2 Spaceflight Static con,GSM2412681,Caenorhabditis elegans,NCBITAXON,http://purl.bioontology.org/ontology/NCBITAXON...,N2,NaN,NaN,Whole Organism,NCIT,...,degree Celsius,UO,http://purl.obolibrary.org/obo/UO_0000027,1.92,milligray,UO,http://purl.obolibrary.org/obo/UO_0000142,Liquid Nitrogen,NCIT,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus...
1,LS292 Spaceflight Static con,GSM2412682,Caenorhabditis elegans,NCBITAXON,http://purl.bioontology.org/ontology/NCBITAXON...,LS292,NaN,NaN,Whole Organism,NCIT,...,degree Celsius,UO,http://purl.obolibrary.org/obo/UO_0000027,1.92,milligray,UO,http://purl.obolibrary.org/obo/UO_0000142,Liquid Nitrogen,NCIT,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus...

<h1> Exploratory Analysis </h1>

In [12]:
df_norm_data1 = df_norm_data[['PM', 'file_name', 'SEQ_ID']]

In [13]:
df_norm_data1['source'] = df_norm_data1['file_name'].str.split('.pair').str[0]

df_norm_data1.head()

C:\Users\ferna\AppData\Local\Temp\ipykernel_14748\949636231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_norm_data1['source'] = df_norm_data1['file_name'].str.split('.pair').str[0]

,PM,file_name,SEQ_ID,source
0,772.56,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532
1,598.33,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532
2,1032.44,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532
3,3305.44,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532
4,1529.22,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532

In [14]:
left_df = df_norm_data1
right_df = df_transcription

# Perform a left join
result_df = pd.merge(left_df, right_df, on='source', how='left')

In [15]:
# Print the result
result_df.head()

,PM,file_name,SEQ_ID,source,Sample Name,Protocol REF,Parameter Value[QA Instrument],Parameter Value[QA Assay],Extract Name,Protocol REF.1,...,Protocol REF.2,Hybridization Assay Name,Array Design REF,Protocol REF.3,Array Data File,Protocol REF.4,Parameter Value[RMA Calls File],Term Source REF.1,Term Accession Number.1,Derived Array Data File
0,772.56,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532,GSM2412681,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412681 Extract,labeling,...,nucleic acid hybridization,GSM2412681 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412681_1A_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412681_1A_532_norm_RMA...
1,598.33,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532,GSM2412681,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412681 Extract,labeling,...,nucleic acid hybridization,GSM2412681 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412681_1A_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412681_1A_532_norm_RMA...
2,1032.44,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532,GSM2412681,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412681 Extract,labeling,...,nucleic acid hybridization,GSM2412681 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412681_1A_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412681_1A_532_norm_RMA...
3,3305.44,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532,GSM2412681,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412681 Extract,labeling,...,nucleic acid hybridization,GSM2412681 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412681_1A_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412681_1A_532_norm_RMA...
4,1529.22,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,WBGene00000001_aap_1_Y110A7A_10,GLDS-167_microarray_GSM2412681_1A_532,GSM2412681,RNA extraction,"ND-1000, Nanodrop Technologies",gel electrophoresis,GSM2412681 Extract,labeling,...,nucleic acid hybridization,GSM2412681 Hybridization,GLDS-167_microarray_GPL22731-tbl-1.txt,data collection,GLDS-167_microarray_GSM2412681_1A_532.pair.gz,normalization data transformation,GLDS-167_microarray_GSM2412681_1A_532_RMA.call...,NaN,NaN,GLDS-167_microarray_GSM2412681_1A_532_norm_RMA...

In [16]:
final_df = result_df[['PM', 'SEQ_ID', 'Sample Name']]

In [17]:
# samples
df_samples = pd.read_csv(r'C:\Users\ferna\Documents\GitHub\anderworm\Project\ds_shenzou\samples\OSD-167-samples.csv')
df_samples.head()

,Source Name,Sample Name,Characteristics: Organism,Characteristics: Strain,Characteristics: Material Type,Factor Value: Genotype,Protocol REF,Factor Value: Spaceflight,Factor Value: Altered Gravity,Parameter Value: Growth Temperature,Parameter Value: Absorbed Radiation Dose,Parameter Value: Sample Preservation Method
0,N2 Spaceflight Static con,GSM2412681,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
1,LS292 Spaceflight Static con,GSM2412682,Caenorhabditis elegans,LS292,Whole Organism,dys-1(cx18) I,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
2,MT4930 Spaceflight Static con,GSM2412683,Caenorhabditis elegans,MT4930,Whole Organism,ced-1(n1995) I,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
3,N2 Spaceflight 1g -centrifugal con,GSM2412684,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,1G in Centrifuge,23 +/- 0.5 degree Celsius,2.27 milligray,Liquid Nitrogen
4,LS292 Spaceflight 1g-centrifugal con,GSM2412685,Caenorhabditis elegans,LS292,Whole Organism,dys-1(cx18) I,sample collection,Space Flight,1G in Centrifuge,23 +/- 0.5 degree Celsius,2.27 milligray,Liquid Nitrogen

In [18]:
final_df.head()

        PM                           SEQ_ID Sample Name
0   772.56  WBGene00000001_aap_1_Y110A7A_10  GSM2412681
1   598.33  WBGene00000001_aap_1_Y110A7A_10  GSM2412681
2  1032.44  WBGene00000001_aap_1_Y110A7A_10  GSM2412681
3  3305.44  WBGene00000001_aap_1_Y110A7A_10  GSM2412681
4  1529.22  WBGene00000001_aap_1_Y110A7A_10  GSM2412681

In [27]:
left_df1 = final_df
right_df1 = df_samples

# Perform a left join
result_df1 = pd.merge(left_df1, right_df1, on='Sample Name', how='left')
result_df1.head()

,PM,SEQ_ID,Sample Name,Source Name,Characteristics: Organism,Characteristics: Strain,Characteristics: Material Type,Factor Value: Genotype,Protocol REF,Factor Value: Spaceflight,Factor Value: Altered Gravity,Parameter Value: Growth Temperature,Parameter Value: Absorbed Radiation Dose,Parameter Value: Sample Preservation Method
0,772.56,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
1,598.33,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
2,1032.44,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
3,3305.44,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
4,1529.22,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen

In [28]:
df = result_df1

In [29]:
df.head()

,PM,SEQ_ID,Sample Name,Source Name,Characteristics: Organism,Characteristics: Strain,Characteristics: Material Type,Factor Value: Genotype,Protocol REF,Factor Value: Spaceflight,Factor Value: Altered Gravity,Parameter Value: Growth Temperature,Parameter Value: Absorbed Radiation Dose,Parameter Value: Sample Preservation Method
0,772.56,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
1,598.33,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
2,1032.44,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
3,3305.44,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
4,1529.22,WBGene00000001_aap_1_Y110A7A_10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen

In [30]:
# Define a function to perform the transformation
def transform_seq_id(seq_id):
    if pd.notna(seq_id):  # Check if the value is not NaN
        # Use regular expressions to extract the relevant parts and format them
        match = re.match(r'^\w+_(\w+)_(\d+)_(\w+)_(\d+)$', seq_id)
        if match:
            gene_name = match.group(1).upper()
            gene_number = match.group(2)
            formatted_seq_id = f"{gene_name}-{gene_number} {match.group(3)} {match.group(4)}"
            return formatted_seq_id
    return seq_id  # Return the original value if it's NaN or doesn't match the pattern

# Apply the transformation to the 'SEQ_ID' column
df['SEQ_ID'] = df['SEQ_ID'].apply(transform_seq_id)

In [31]:
df.head()

,PM,SEQ_ID,Sample Name,Source Name,Characteristics: Organism,Characteristics: Strain,Characteristics: Material Type,Factor Value: Genotype,Protocol REF,Factor Value: Spaceflight,Factor Value: Altered Gravity,Parameter Value: Growth Temperature,Parameter Value: Absorbed Radiation Dose,Parameter Value: Sample Preservation Method
0,772.56,AAP-1 Y110A7A 10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
1,598.33,AAP-1 Y110A7A 10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
2,1032.44,AAP-1 Y110A7A 10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
3,3305.44,AAP-1 Y110A7A 10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen
4,1529.22,AAP-1 Y110A7A 10,GSM2412681,N2 Spaceflight Static con,Caenorhabditis elegans,N2,Whole Organism,Wild Type,sample collection,Space Flight,uG,23 +/- 0.5 degree Celsius,1.92 milligray,Liquid Nitrogen

In [33]:
df_seq = df[['PM', 'SEQ_ID', 'Sample Name', 'Characteristics: Organism', 'Characteristics: Strain', 'Factor Value: Genotype', 'Factor Value: Altered Gravity', 'Parameter Value: Absorbed Radiation Dose', 'Parameter Value: Sample Preservation Method']]

In [35]:
# Assuming df_seq is your DataFrame
df_seq = df_seq.rename(columns={
    'PM': 'PM',
    'SEQ_ID': 'SEQ ID',
    'Sample Name': 'Sample',
    'Characteristics: Organism': 'Organism',
    'Characteristics: Strain': 'Strain',
    'Factor Value: Genotype': 'Genotype',
    'Factor Value: Altered Gravity': 'Altered Gravity',
    'Parameter Value: Absorbed Radiation Dose': 'Absorbed Radiation Dose',
    'Parameter Value: Sample Preservation Method': 'Preservation Method'
})

In [36]:
df_seq.head()

,PM,SEQ ID,Sample,Organism,Strain,Genotype,Altered Gravity,Absorbed Radiation Dose,Preservation Method
0,772.56,AAP-1 Y110A7A 10,GSM2412681,Caenorhabditis elegans,N2,Wild Type,uG,1.92 milligray,Liquid Nitrogen
1,598.33,AAP-1 Y110A7A 10,GSM2412681,Caenorhabditis elegans,N2,Wild Type,uG,1.92 milligray,Liquid Nitrogen
2,1032.44,AAP-1 Y110A7A 10,GSM2412681,Caenorhabditis elegans,N2,Wild Type,uG,1.92 milligray,Liquid Nitrogen
3,3305.44,AAP-1 Y110A7A 10,GSM2412681,Caenorhabditis elegans,N2,Wild Type,uG,1.92 milligray,Liquid Nitrogen
4,1529.22,AAP-1 Y110A7A 10,GSM2412681,Caenorhabditis elegans,N2,Wild Type,uG,1.92 milligray,Liquid Nitrogen

In [44]:
df_seq.to_csv('df_seq.csv')

In [45]:
df_heatmap = df_seq[['PM', 'SEQ ID', 'Sample']]

In [48]:
df_heatmap['PM'] = df_heatmap['PM'].astype(float)

C:\Users\ferna\AppData\Local\Temp\ipykernel_14748\473249635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_heatmap['PM'] = df_heatmap['PM'].astype(float)

In [51]:
df_heatmap = df_heatmap.pivot_table(index='SEQ ID', columns='Sample', values='PM', aggfunc = 'mean')

In [52]:
df_heatmap.head()

Sample,GSM2412681,GSM2412682,GSM2412683,GSM2412684,GSM2412685,GSM2412686,GSM2412687,GSM2412688,GSM2412689,GSM2412690,GSM2412691,GSM2412692
SEQ ID,,,,,,,,,,,,
1-1 AH6 2,1180.223333,635.428333,1848.148333,768.370000,689.908333,810.315000,578.016667,525.111667,570.795000,407.353333,296.036667,373.963333
1-1 B0432 2,2433.461667,1945.646667,3485.665000,2811.480000,2599.630000,2226.000000,1879.556667,2056.258333,1873.998333,2040.296667,2232.815000,1417.721667
1-1 F35H8 7,604.350000,211.871667,710.331667,540.646667,376.851667,420.760000,546.796667,336.296667,399.868333,343.055000,232.406667,247.666667
1-1 F45E4 1,429.198000,236.156000,1123.268000,537.512000,402.644000,376.068000,480.910000,372.490000,681.110000,419.600000,196.246000,269.110000
1-1 Y37E3 16,846.315000,685.073333,1442.445000,870.093333,1107.961667,941.778333,839.128333,829.018333,930.090000,1012.333333,703.538333,491.960000

In [ ]:
df_heatmap.head()

In [53]:
df_heatmap.to_csv('df_heatmap.csv')

In [54]:
import numpy as np
import csv
import matplotlib
matplotlib.use('tkagg')
import matplotlib.pyplot as plt

import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [ ]:


data = []
genes = []

first = True

with open("fake_gene_expression_data.csv") as csvfile:
    csv_reader = csv.reader(csvfile, delimiter=",")

    for row in csv_reader:

        if first:
            sample_names = row[1:]
            first = False

        else:
            genes.append(row[0])
            data.append(row[1:])


data = np.array(data).astype(int)

print(data)
print(len(genes))
print(len(sample_names))
print(data.shape)
sns.set_context("paper", font_scale=0.3)


sns_plot = sns.clustermap(data, xticklabels=sample_names, yticklabels= genes)
sns_plot.savefig("heatmap.pdf")

plt.show()